TELEGRAM_BOT_TOKEN=
TELEGRAM_WEBHOOK_SECRET_TOKEN=
TELEGRAM_BOT_USERNAME=
TELEGRAM_API_BASE_URL=

REDIS_URL=

FITBIT_CLIENT_ID=
FITBIT_CLIENT_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALENDAR_TIMEZONE=

HONO_URL=
CRON_SECRET=
