TELEGRAM_BOT_TOKEN=
TELEGRAM_WEBHOOK_SECRET_TOKEN=
TELEGRAM_BOT_USERNAME=
TELEGRAM_API_BASE_URL=
TELEGRAM_OWNER_USER_ID=

REDIS_URL=

FITBIT_CLIENT_ID=
FITBIT_CLIENT_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALENDAR_TIMEZONE=

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

NOTION_CLIENT_ID=
NOTION_CLIENT_SECRET=
NOTION_MCP_SERVER_URL=

PLAUSIBLE_API_KEY=
PLAUSIBLE_SITE_IDS=
PLAUSIBLE_API_BASE_URL=

OPENAI_API_KEY=

HONO_URL=
CRON_SECRET=

QSTASH_URL=
QSTASH_TOKEN=
QSTASH_CURRENT_SIGNING_KEY=
QSTASH_NEXT_SIGNING_KEY=
